Software Requirements Specification

Introduction

The aim of this document is to gather and analyse and give an in-depth 
insight of the complete Book Club system. The functional requirements have an 
input and output while non-functional requirements are the requirements that define system attributes. 
The detailed requirements of the Book Club system are provided in this document.

Functional requirements: 

• Administrator Menu: In this module we can do the following:  

-	Admin should be able to insert, modify and delete books. 
-	Can accept or reject a new user according to his/her behaviour. 
-	Can get the information of any member who has read a book. 
-	Add and edit book categories and arrange books by categories. 

• Student Menu: In this module we can do the following:

- The system should enable the user to register himself/herself if the user is using the system for the first time
- The user should be able to view the different books available 
- The user should also be able to review the books he/she has read and leave comments 
- the user should also be able to rate the books they have read on a scale of 1 to 5

Non-Functional requirements: 

• The system should be simple and easy to understand and use. Also be an interactive interface. 
The system should prompt for the user and administrator to login to the application and for proper input criteria. 
• The software provides good graphical interface for the user. Any administrator can operate on the system, performing 
the required task such as create, update, viewing the details of the book. Allows user to view quick reports like Books 
read, rating in a particular time. 
• Error Handling: The system shall handle expected and non-expected errors in ways that prevent loss in information and long downtime period. 
• The system should not be used to leak any privacy information about the users’ passwords and different data.
• Performance Requirements: The system shall accommodate high number of books and users without any fault.
• Logical Database Requirements: The system should store the data in a database. 

